{% load static %}
{% load cms_tags sekizai_tags %}
<section class="care-sec">
    <div class="container">
      <div class="care">
        <div class="care-content">
          <h3 class="care-content__title">{% static_placeholder "company_block_title" %}</h3>
          <p class="care-content__text">
            {% static_placeholder "company_block_text" %}
          </p>
          <a href="/" class="btn btn-with-arrow care-content__btn pink-hover">
            <span class="btn__span">О компании</span>
            <img src="{% static '/img/shared/rightArrowTotalBlack.svg' %}" class="btn__arrow">
          </a>
        </div>
        <img src="{% static '/img/shared/brandProducts.jpg' %}" alt="Товары бренда GC" class="care-img">
      </div>
    </div>
</section>