{% load static %}

<section class="care-sec">
    <div class="container">
      <div class="care">
        <div class="care-content">
          <h3 class="care-content__title">Товары для ухода бренда GC</h3>
          <p class="care-content__text">Мы современный бренд уходовой косметики.
            <br><br>
            Товары для ухода бренда GC обладают удвоенным эффектом благодаря уникальной формуле.
            <br><br>
            Мы стараемся использовать экологичные и натуральные компоненты в составе нашей продукции GC.
          </p>
          <a href="/" class="btn btn-with-arrow care-content__btn pink-hover">
            <span class="btn__span">О компании</span>
            <img src="{% static '/img/shared/rightArrowTotalBlack.svg' %}" class="btn__arrow">
          </a>
        </div>
        <img src="{% static '/img/shared/brandProducts.jpg' %}" alt="Товары бренда GC" class="care-img">
      </div>
    </div>
</section>