{% load static %}

<section class="contact-sec">
    <div class="container">
      <h4 class="contact__title">Свяжитесь с нами, если у Вас возникли вопросы</h4>
      <form action="/api/contact_form/" method="post" class="contact-form">
        {% csrf_token %}
        {% for field in footer_form %}
        <input type="text" placeholder="{{ field.help_text|safe }}" name="{{field.name}}" id="{{field.id_for_label}}" class="contact-form__input">
        {% endfor %}
        <button class="btn btn-with-arrow contact__button" type="submit">
          <span class="btn__span contact__button--span">Перейти</span>
            <img src="{% static '/img/shared/rightArrowTotalBlack.svg' %}" alt="" class="btn__arrow contact__button--arrow">
        </button>
      </form>
      
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
      <script>
        $("#id_phone").mask("+7 (999) 999-9999");
      </script>
    </div>
</section>