{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/thanks.css' %}">
<main>
    <div class="container">
      {% include "breadcrumbs.html" %}
    </div>
   
    <section class="thanks-sec">
      <div class="container">
        <h1 class="thanks__title">Заявка №{{id}} от {{date}} оформлена!</h1>
        <div class="thanks-data">
          <div class="thanks-data__item">
            <span>Имя:</span>
            <span>{{name}}</span>
          </div>
          <div class="thanks-data__item">
            <span>Телефон:</span>
            <span>{{phone}}</span>
          </div>
        </div>
        <div class="thanks__payment">Ожидайте с вами скоро свяжется оператор</div>
      </div>
    </section>

  </main>
{% endblock %}