<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/service.css' %}">
<link rel="stylesheet" href="{% static '/css/cart.css' %}">
<link rel="stylesheet" href="{% static '/css/offer.css' %}">

<main>
    <div class="container">
      <div class="breadcrumbs">
        {% include "breadcrumbs.html" %}
      </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>

    <section class="offer-sec">
      <div class="container">
        <div class="offer-left">
          <h1 class="offer__title">Оформление заказа</h1>
          <form id="order_form" class="offer" action="/api/order_form/" method="post">
            {% csrf_token %}
            <div class="offer-subtitle">Персональные данные</div>

            <input type="text" name="name" required placeholder="Имя" class="offer__input">
            <input type="text" name="mail" required placeholder="e-mail" class="offer__input">
            <input type="text" name="phone" required placeholder="+7 (___) ___-____" class="offer__input" id="id_phone_offer">
            <script>
              $("#id_phone_offer").mask("+7 (999) 999-9999");
            </script>
            <div class="offer-subtitle">Адрес</div>
            <div class="offer-row">
              <input type="text" id="city" name="city" required placeholder="Город" class="offer__input">
              <input type="text" id="index" name="index" required placeholder="Индекс" class="offer__input">
            </div>
            <input type="text" id="street" name="street" required placeholder="Улица" class="offer__input">
            <div class="offer-row">
              <input type="text" id="house" name="house" required placeholder="Дом" class="offer__input">
              <input type="text" id="flat" name="flat" required placeholder="Квартира" class="offer__input">
            </div>
            <div class="offer-subtitle">Способ оплаты</div>
            <input type="radio" name="payment_type" id="online" checked value="Оплата онлайн" class="offer-payment__input">
            <label for="online" class="offer-payment__label">Оплата онлайн</label>
            <input type="radio" name="payment_type" id="courier" value="Оплата курьеру при получении" class="offer-payment__input">
            <label for="courier" class="offer-payment__label">Оплата курьеру при получении</label>
          </form>
          <script>
          var token = "1bfb8c2bf6d9f8835923c33befcff79fb1ef0978"   
          var $city   = $("#city");
          var $street = $("#street");
          var $house  = $("#house");
          $city.suggestions({
              token: token,
              type: "ADDRESS",
              bounds: "city-settlement",
          });
          $street.suggestions({
            token: token,
            type: "ADDRESS",
            hint: false,
            bounds: "street",
            constraints: $city
          });
          $house.suggestions({
            token: token,
            type: "ADDRESS",
            hint: false,
            noSuggestionsHint: false,
            bounds: "house",
            constraints: $street,
            onSelect: function(suggestion) {
              $("#index").val(suggestion.data.postal_code)
            }
          });
          </script>
        </div>
        <div class="offer-right">
          <div class="offer-right__title">Ваш заказ</div>
          {% for key, item in catalog_items.items %}
          <div class="offer-item">
            <div class="offer-item-img-wrap">
              <img src="{{item.picture}}" alt="" class="offer-item-img">
              <span class="offer-item__delete">&times;</span>
            </div>
            <div class="offer-item-content">
              <div class="offer-item__title">{{item.name}}</div>
              <div class="offer-item__category">Шампунь для волос</div>
              <div class="offer-item__price">{{item.quantity}} х {{item.price}} = {{ item.item_price }} ₽</div>
            </div>
          </div>
          {% endfor %}
          <div class="offer-total cart-total">
            <div class="cart-total__text">
              <div>Итого:</div>
              <div><span class="final-cart-price">{{price}}</span>₽</div>
            </div>
            <button type="submit" form="order_form" class="btn btn-with-arrow cart-total__btn">
              <span class="btn__span">Оформить заказ</span>
              <img src="/static/img/shared/rightArrowTotalBlack.svg" class="btn__arrow">
            </button>
          </div>
        </div>
      </div>
    </section>

    {% include "connect_footer_form.html" %}
</main>

{% endblock %}