{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static '/css/service.css' %}">
<link rel="stylesheet" href="{% static '/css/product.css' %}">

<main>
    <div class="container">
      {% include "breadcrumbs.html" %}
    </div>

    <section class="product-sec">
      <div class="container">
        <div class="product item-with-id" data-id="{{item.id}}">
          <div class="product-left">
            <div class="swiper mySwiper2 product-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide product-slider__slide">
                  <img src="{{item.main_picture.url}}" alt="">
                </div>
                {% for photo in photos %}
                <div class="swiper-slide product-slider__slide">
                  <img src="{{photo.picture.url}}" alt="">
                </div>
                {% endfor %}
                

              </div>
            </div>
            <div class="product-thumb">
              <div thumbsSlider="" class="swiper mySwiper product-thumb-slider">
                <div class="swiper-wrapper">
                  
                  <div class="swiper-slide product-thumb-slider__slide">
                    <img src="{{item.main_picture.url}}" alt="">
                  </div>
                  
                  {% for photo in photos %}
                  <div class="swiper-slide product-thumb-slider__slide">
                    <img src="{{photo.picture.url}}" alt="">
                  </div>
                  {% endfor %}
                  
                </div>
              </div>
              <div class="swiper-button-next product-thumb-slider__btn product-thumb-slider__next"></div>
              <div class="swiper-button-prev product-thumb-slider__btn product-thumb-slider__prev"></div>
            </div>
          </div>
          <div class="product-content">
            <h1 class="product__title">{{item.name}}</h1>
            <div class="product__price">{{item.price}} ₽</div>
            <div class="product-actions">
              <div class="product-counter counter">
                <span class="product-counter__btn product-counter__minus counter-minus"> - </span>
                <span class="product-counter__count counter-count"> 1 </span>
                <span class="product-counter__btn product-counter__minus counter-plus"> + </span>
              </div>
              <button class="btn btn-with-arrow product__add pink-hover">
                <span class="btn__span product__add--span ">Добавить в корзину</span>
                <img src="/static/img/shared/rightArrowTotalBlack.svg" alt="" class="btn__arrow product__add--arrow">
              </button>
              <button class="product__favorite">
                <img src="/static/img/shared/favoriteBlack.svg" class="product__favorite--img " alt="">
                <img src="/static/img/shared/favoritePink.svg" class="product__favorite--img-active" alt="">
              </button>
            </div>
            <div class="product-drops">
              <div class="product-drops__header active">Описание <span class="product-drops__header--close">+</span></div>
              <div class="product-drops__body active" style="max-height: 500px">
                <p>
                    {{item.description}}
                </p>
              </div>
              <div class="product-drops__header">Характеристики <span class="product-drops__header--close">+</span></div>
              <div class="product-drops__body">
                <p>
                    {{item.properties}}
                </p>
              </div>
              <div class="product-drops__header">Состав <span class="product-drops__header--close">+</span></div>
              <div class="product-drops__body">
                <p>
                    {{item.compound}}
                </p>
              </div>
              <div class="product-drops__header">Оплата и доставка <span class="product-drops__header--close">+</span></div>
              <div class="product-drops__body">
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat.
                  <br><br>
                  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip
                  ex ea commodo consequat.
                  <br><br>
                  Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="similar-sec" {% if not similar_items %} style="display: none;" {% endif %}>
      <div class="container">
        <h2 class="similar__title">Похожие товары</h2>
        <div class="similar">
          {% for similar_item in similar_items %}
          <a href="/catalog-item/{{similar_item.slug}}/" class="catalog-item similar-item">
            <button data-id="{{similar_item.id}}" class="catalog-item__favorite"><img src="/static/img/shared/favoritesBlack.svg" alt=""></button>
            <img src="{{similar_item.main_picture.url}}" alt="" class="catalog-item__img">
            <p class="catalog-item__title">{{similar_item.name}}</p>
            <div class="catalog-item__price">{{similar_item.price}} ₽</div>
          </a>
          {% endfor %}
        </div>
      </div>
    </section>
    
    
    {% include "connect_footer_form.html" %}

</main>

{% endblock %}